In [1]:
print('Hola mundo')

Hola mundo

In [2]:
#import pandas as pd

#def transform_dataset(dataset_path):
    # Leer el dataset desde un archivo csv
    #df = pd.read_csv(dataset_path)
    
    # Crear la columna "id"
    #df["id"] = "h" + df["show_id"].astype(str)
    
    # Reemplazar los valores nulos de "rating" por "G"
    #df["rating"].fillna("G", inplace=True)
    
    # Convertir las fechas a formato AAAA-mm-dd
    #df["date_added"] = pd.to_datetime(df["date_added"]).dt.strftime("%Y-%m-%d")
    
    # Convertir la columna "duration" en dos columnas "duration_int" y "duration_type"
    #df[["duration_int", "duration_type"]] = df["duration"].str.extract(r"(\d+) (\D+)")
    
    # Convertir los valores de los campos de texto a minúsculas
    #df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
    
    #return df

Esta función toma como argumento la ruta del archivo csv que contiene el dataset original y devuelve el dataset transformado. Para aplicar estas transformaciones, simplemente llamas a la función transform_dataset() pasándole la ruta del archivo csv como argumento:

In [2]:
#dataset_path = "MLOpsReviews/hulu_titles.csv"
#transformed_dataset = transform_dataset(dataset_path)

In [4]:
#transform_dataset(dataset_path)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1,NaN,NaN
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2,94,min
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3,108,min
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...,hs4,97,min
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5,104,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,tv show,star trek: the original series,NaN,NaN,united states,NaN,1966,tv-pg,3 seasons,"action, adventure, classics",the 23rd century adventures of captain james t...,hs3069,3,seasons
3069,s3070,tv show,star trek: voyager,NaN,NaN,united states,NaN,1997,tv-pg,7 seasons,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hs3070,7,seasons
3070,s3071,tv show,the fades,NaN,NaN,united kingdom,NaN,2011,tv-14,1 season,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hs3071,1,season
3071,s3072,tv show,the twilight zone,NaN,NaN,united states,NaN,1959,tv-pg,5 seasons,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hs3072,5,seasons
3072,s3073,tv show,tokyo magnitude 8.0,NaN,NaN,japan,NaN,2009,tv-14,1 season,"anime, drama, international",the devastation is unleashed in the span of se...,hs3073,1,season

# Definir las rutas relativas de los datasets
dataset1_path = "ruta/relativa/del/dataset1.csv"
dataset2_path = "ruta/relativa/del/dataset2.csv"
dataset3_path = "ruta/relativa/del/dataset3.csv"
dataset4_path = "ruta/relativa/del/dataset4.csv"

# Iterar sobre los datasets y aplicar la función de transformación
for dataset_path in [dataset1_path, dataset2_path, dataset3_path, dataset4_path]:
    transformed_dataset = transform_dataset(dataset_path)
    # hacer algo con el dataset transformado, como guardarlo en un archivo csv o trabajar con él en memoria

In [1]:
print('Hola mundo')

Hola mundo

FORMA GENERAL Y EL QUE VAAAAAAAAAAAAAAAAAAAAA :D :D :D

In [21]:
import pandas as pd

def transform_dataset(dataset_path, platform_name):
    # Leer el dataset desde un archivo csv
    df = pd.read_csv(dataset_path)
    
    # Crear la columna "id" usando la primera letra del nombre de la plataforma
    df["id"] = platform_name[0] + df["show_id"].astype(str)
    
    # Reemplazar los valores nulos de "rating" por "G"
    df["rating"].fillna("G", inplace=True)
    
    # Convertir las fechas a formato AAAA-mm-dd
    df["date_added"] = pd.to_datetime(df["date_added"]).dt.strftime("%Y-%m-%d")
    
    # Convertir la columna "duration" en dos columnas "duration_int" y "duration_type"
    df[["duration_int", "duration_type"]] = df["duration"].str.extract(r"(\d+) (\D+)")
    
    # Convertir los valores de los campos de texto a minúsculas
    df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
    
    return df

In [22]:
amazon_prime_df = transform_dataset("MLOpsReviews/amazon_prime_titles.csv", "amazon_prime")
disney_plus_df = transform_dataset("MLOpsReviews/disney_plus_titles.csv", "disney_plus")
hulu_df = transform_dataset("MLOpsReviews/hulu_titles.csv", "hulu")
netflix_df = transform_dataset("MLOpsReviews/netflix_titles.csv", "netflix")

In [23]:
amazon_prime_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min

In [24]:
disney_plus_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,ds1,23,min
1,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,ds2,91,min
2,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3,23,min
3,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!",ds4,41,min
4,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5,1,season

In [25]:
hulu_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1,NaN,NaN
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2,94,min
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3,108,min
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...,hs4,97,min
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5,104,min

In [26]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",ns1,90,min
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2,2,seasons
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,ns3,1,season
3,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",ns4,1,season
4,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,ns5,2,seasons

In [27]:
#agrego una columna a cada dataframe que diga la plataforma

netflix_df['platform'] = 'netflix'
hulu_df['platform'] = 'hulu'
disney_plus_df['platform'] = 'disney'
amazon_prime_df['platform'] = 'amazon'

In [28]:
hulu_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,platform
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1,NaN,NaN,hulu
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2,94,min,hulu
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3,108,min,hulu
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,horror,a forest ranger and two survivalists with a cu...,hs4,97,min,hulu
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5,104,min,hulu

In [29]:
#concateno los 4 datas para trabajar mas facil en lo proximo
df = pd.concat([amazon_prime_df, netflix_df, hulu_df, disney_plus_df], axis=0)
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,platform
3830,s3831,movie,leave it to beavers,pbs,brian unger,NaN,NaN,2014,7+,53 min,documentary,from pbs - the fascinating story of beavers in...,as3831,53,min,amazon
8575,s8576,movie,projectununapprovedmovietarget,test director,"test actor 1, test actor 2",NaN,NaN,2019,g,0 min,comedy,projectununapprovedmovietarget short,as8576,0,min,amazon
339,s340,movie,ticket to paradise,aubrey scotto,"roger pryor, wendy barrie, claude gillingwater...",NaN,NaN,1936,all,67 min,"drama, suspense",janes forbes (barrie) decides to help amnesiac...,as340,67,min,amazon
6675,s6676,movie,el che,matías gueilburt,paco ignacio taibo ii,venezuela,2017-10-15,2017,tv-14,119 min,"documentaries, international movies",spanish-mexican writer paco ignacio taibo ii h...,ns6676,119,min,netflix
1445,s1446,movie,odd squad: odds and ends,j.j. johnson,"anna cathcart, isaac kragten, millie davis, ol...",NaN,NaN,2019,7+,47 min,kids,a string of break-ins at headquarters leads to...,as1446,47,min,amazon
7424,s7425,movie,may we chat,philip yung,"irene wan, peter mak, rainky wai, heidi lee, k...",hong kong,2018-08-26,2014,tv-ma,99 min,"dramas, international movies","a messaging app unites a mute prostitute, an u...",ns7425,99,min,netflix
5268,s5269,movie,jerry before seinfeld,michael bonfiglio,jerry seinfeld,united states,2017-09-19,2017,tv-14,62 min,stand-up comedy,jerry seinfeld returns to the club that gave h...,ns5269,62,min,netflix
1986,s1987,movie,nee enge en anbe,sekhar kammula,"nayantara, vaibhav reddy, pasupathy, harshvard...",NaN,2020-09-17,2014,tv-14,137 min,"international movies, thrillers",as a woman scours hyderabad for her missing hu...,ns1987,137,min,netflix
287,s288,movie,mommy,NaN,NaN,NaN,2021-09-01,2014,r,139 min,"drama, international","""a film of suffocating power and surprising wa...",hs288,139,min,hulu
1287,s1288,tv show,pokémon the series: gold and silver,NaN,"ikue ohtani, veronica taylor",NaN,NaN,2001,tv-y7,4 seasons,"anime, kids","leaving pallet town behind them, ash, pikachu,...",as1288,4,seasons,amazon

In [30]:
df.dtypes

show_id          object
type             object
title            object
director         object
cast             object
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
id               object
duration_int     object
duration_type    object
platform         object
dtype: object

In [31]:
#completo el campo duration_int con 0, para pasarlo a int
df["duration_int"] = df["duration_int"].fillna(0)

In [32]:
#cambio a tipo int
df['duration_int'] = df['duration_int'].astype(int)

In [33]:
df.dtypes

show_id          object
type             object
title            object
director         object
cast             object
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
id               object
duration_int      int32
duration_type    object
platform         object
dtype: object

In [34]:
#completo valores faltantes en tdo el df
df.fillna('Sin dato', inplace=True)

In [35]:
#Voy a concatenar los csv de ratings haciendole un promedio y agrupandolos por moveid

In [36]:
import glob

In [37]:
# Lee los archivos CSV y los concatena en un solo DataFrame
csv_files = glob.glob('MLOpsReviews/ratings/*.csv')
df_list = []
for csv_file in csv_files:
    df_ratings = pd.read_csv(csv_file)
    df_list.append(df_ratings)
df_ratings = pd.concat(df_list)

# Agrupa el DataFrame por movieId y calcula el promedio de rating

ratings = df_ratings.groupby('movieId')['rating'].mean().to_frame()

##ACORDATE DE SACARLOS DUPLICADOS

In [38]:
ratings.head()

           rating
movieId
as1      3.467131
as10     3.439571
as100    3.609302
as1000   3.556701
as1001   3.585288

In [39]:
# Unir los DataFrames por las columnas 'id' y 'movieId'
df = pd.merge(df, ratings, left_on='id', right_on='movieId')

In [40]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating_x,duration,listed_in,description,id,duration_int,duration_type,platform,rating_y
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,amazon,3.467131
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,amazon,3.548682
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min,amazon,3.500000
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min,amazon,3.538055
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min,amazon,3.478992

In [41]:
df = df.rename(columns={'rating_y': 'scored'})

In [42]:
df = df.rename(columns={'rating_x': 'rating'})

In [4]:
# import pandas as pd
# df = pd.read_csv('df.csv')
df.sample(40)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,platform,scored
5696,5696,s5697,movie,wheels on the bus & more kids songs - cocomelon,moonbug entertainment,Sin dato,Sin dato,Sin dato,2018,all,51 min,kids,cocomelon is here to help preschoolers learn l...,as5697,51,min,amazon,3.580972
20108,20108,s1634,movie,spider-man 2,Sin dato,Sin dato,Sin dato,2020-06-01,2004,pg-13,128 min,"action, adventure, family",peter parker must overcome his personal demons...,hs1634,128,min,hulu,3.563895
177,177,s178,movie,vocabularry,babyfirst,Sin dato,Sin dato,Sin dato,2012,all,31 min,kids,join vocabularry as he explores new objects an...,as178,31,min,amazon,3.554968
19111,19111,s637,tv show,hell's kitchen,Sin dato,Sin dato,united states,2021-06-08,2005,tv-14,11 seasons,"cooking & food, family, lifestyle & culture",an unscripted culinary boot camp that features...,hs637,11,seasons,hulu,3.502066
12473,12473,s2806,movie,xv: beyond the tryline,pierre deschamps,Sin dato,united kingdom,2020-03-18,2016,tv-14,91 min,"documentaries, sports movies","set against the 2015 rugby world cup, this doc...",ns2806,91,min,netflix,3.464440
3049,3049,s3050,movie,black widow,christian lee,"brooklyn james, christian lee, kelvin burrell,...",Sin dato,Sin dato,2019,18+,39 min,drama,after finding out her husband has been cheatin...,as3050,39,min,amazon,3.602083
1757,1757,s1758,movie,making a killing,devin hume,"christopher lloyd, sally kirkland, michael jai...",Sin dato,Sin dato,2018,13+,107 min,"comedy, drama, suspense",three morticians get caught in a web of greed ...,as1758,107,min,amazon,3.535857
11877,11877,s2210,movie,nimbe,tope alake,"odunlade adekola, chimezie imo, sani danja, ra...",nigeria,2020-07-24,2019,tv-ma,115 min,"dramas, international movies",a bullied teenager gravitates toward the accep...,ns2210,115,min,netflix,3.543478
14083,14083,s4416,tv show,brainchild,Sin dato,"sahana srinivasan, alie ward, ben seidman",Sin dato,2018-11-02,2018,tv-g,1 season,kids' tv,from germs and emotions to social media and mo...,ns4416,1,season,netflix,3.571579
10382,10382,s715,tv show,beyond evil,Sin dato,"shin ha-kyun, yeo jin-goo, choi dae-hoon, choi...",Sin dato,2021-06-15,2021,tv-ma,1 season,"crime tv shows, international tv shows, tv thr...",as a killing resembling a cold case resurfaces...,ns715,1,season,netflix,3.503093
4524,4524,s4525,movie,a night in versailles,bruno podalydes,denis podalydes isabelle candalier phillipe uchan,Sin dato,Sin dato,1992,pg-13,45 min,"comedy, international","arnaud has planned a quiet, romantic dinner wi...",as4525,45,min,amazon,3.536585
2572,2572,s2573,movie,ek baar kaho,lekh tandon,"navin nischol, shabana azmi, anil kapoor, kira...",Sin dato,Sin dato,1980,all,133 min,"drama, romance",ravi is in love with aarti but unable to expre...,as2573,133,min,amazon,3.564240
20508,20508,s2034,movie,savage youth,Sin dato,Sin dato,united states,2019-10-11,2018,99 min,Sin dato,"crime, drama",the lives of six troubled teens in a racially-...,hs2034,0,Sin dato,hulu,3.565401
2476,2476,s2477,tv show,find my first love,Sin dato,cherry healey,Sin dato,Sin dato,2017,tv-pg,1 season,tv shows,"who can forget falling in love, especially the...",as2477,1,season,amazon,3.481328
15531,15531,s5864,tv show,your lie in april,Sin dato,"natsuki hanae, risa taneda, ayane sakura, ryot...",japan,2016-03-01,2014,tv-14,1 season,"anime series, international tv shows, romantic...","after his mother's death, a piano prodigy's wi...",ns5864,1,season,netflix,3.568507
15012,15012,s5345,movie,message from the king,fabrice du welz,"chadwick boseman, luke evans, teresa palmer, a...","united kingdom, france, belgium, united states",2017-08-04,2017,r,103 min,"independent movies, thrillers",on a relentless quest to avenge his sister's m...,ns5345,103,min,netflix,3.548654
16630,16630,s6963,movie,hero,corey yuen,"takeshi kaneshiro, yuen biao, valerie chow, je...","hong kong, china",2018-08-01,1997,tv-ma,89 min,"action & adventure, international movies",a pugilist from shantung struggles to rise to ...,ns6963,89,min,netflix,3.486815
6331,6331,s6332,movie,hello memsaheb,shiboprasad mukherjee and nandita roy,"jeet, priyanka upendra, kanchan mullick",Sin dato,Sin dato,2011,13+,153 min,"comedy, drama, romance",a man disguises as a servant to stay close to ...,as6332,153,min,amazon,3.487854
9152,9152,s9153,movie,makoki: a deadly love,esteban diaz baena,"jeronimo granadal, vicky castillo",Sin dato,Sin dato,2019,18+,110 min,"action, comedy","the life of the best hit man in the country, m...",as9153,110,min,amazon,3.483184
10875,10875,s1208,movie,audrey,helena coan,audrey hepburn,Sin dato,2021-03-14,2020,tv-14,101 min,documentaries,an intimate portrait of legendary hollywood ac...,ns1208,101,min,netflix,3.492410
2228,2228,s2229,movie,hello guru prema kosame,trinadha rao nakkina,"ram pothineni, anupama parmeshwaran",india,Sin dato,2018,13+,136 min,"international, romance","after a rocky start, a friendship develops bet...",as2229,136,min,amazon,3.578059
19288,19288,s814,tv show,megalobox,Sin dato,Sin dato,Sin dato,2021-04-04,2018,tv-14,2 seasons,"action, anime, drama",the protagonist of the story is a young man wi...,hs814,2,seasons,hulu,3.551829
17147,17147,s7480,movie,molly's game,aaron sorkin,"jessica chastain, idris elba, kevin costner, m...","china, canada, united states",2020-04-01,2017,r,141 min,dramas,former olympian molly bloom ran a high-stakes ...,ns7480,141,min,netflix,3.519153
818,818,s819,movie,tall firs,Sin dato,Sin dato,Sin dato,Sin dato,2007,nr,34 min,music videos and concerts,"expect nothing but a mixture of folk, rock, an...",as819,34,min,amazon,3.597778
2026,2026,s2027,tv show,jim gaffigan: quality time,Sin dato,jim gaffigan,Sin dato,Sin dato,2019,13+,1 season,"arts, entertainment, and culture, comedy, spec...","[premieres august 16, 2019] jim gaffigan is in...",as2027,1,season,amazon,3.575855
9209,9209,s9210,movie,eddie izzard: unrepeatable,john gordillo,eddie izzard,Sin dato,Sin dato,1994,18+,76 min,"arts, entertainment, and culture, comedy, spec...",unrepeatable was recorded one night at the alb...,as9210,76,min,amazon,3.630753
18143,18143,s8476,movie,the rat race,miriam chandy menacherry,Sin dato,india,2017-01-01,2010,tv-pg,52 min,"documentaries, international movies",examine the troublesome coexistence of humans ...,ns8476,52,min,netflix,3.539877
16900,16900,s7233,movie,krish trish and baltiboy: part ii,Sin dato,"damandeep singh baggan, smita malhotra, baba s...",Sin dato,2017-09-08,2010,tv-y7,58 min,children & family movies,animal minstrels narrate stories about a monke...,ns7233,58,min,netflix,3.535792
22249,22249,s702,movie,forky asks a question: what is time?,bob peterson,"tony hale, wallace shawn, alan oppenheimer, bo...",united states,2019-11-29,2019,tv-g,6 min,"animation, comedy, family",rex uses the age of dinosaurs as an example to...,ds702,6,min,disney,3.494264
14179,14179,s4512,tv show,edgar rice burroughs' tarzan and jane,Sin dato,"marci t. house, michael dobson, omari newton, ...",Sin dato,2018-10-12,2018,tv-y7,2 seasons,"crime tv shows, kids' tv",saved from a plane crash and given supernatura...,ns4512,2,seasons,netflix,3.541667
3285,3285,s3286,movie,american experience: tesla,david grubin,michael murphy,Sin dato,Sin dato,2016,g,54 min,documentary,"meet nikola tesla, the genius engineer and tir...",as3286,54,min,amazon,3.542117
13025,13025,s3358,tv show,sleepless society: bedtime wishes,Sin dato,"shahkrit yamnarm, savika chaiyadej, supoj chan...",Sin dato,2019-10-31,2019,tv-ma,1 season,"crime tv shows, international tv shows, tv dramas","during a holiday stay at a hotel resort, a fli...",ns3358,1,season,netflix,3.615779
16296,16296,s6629,movie,don't crack under pressure ii,thierry donard,"davide carrera, eric duguil, jesse richman, ri...",france,2020-06-12,2016,tv-ma,88 min,"action & adventure, documentaries, internation...","using state-of-the-art technology, this stunni...",ns6629,88,min,netflix,3.605416
651,651,s652,tv show,the fosters,Sin dato,"teri polo, sherri saum, hayden byerly",Sin dato,Sin dato,2018,tv-14,5 seasons,tv shows,tensions continue to rise in the drama's fifth...,as652,5,seasons,amazon,3.558242
12995,12995,s3328,tv show,a year in space,Sin dato,scott kelly,united states,2019-11-01,2015,tv-pg,1 season,"docuseries, international tv shows, science & ...",two astronauts attempt to brave a life in eart...,ns3328,1,season,netflix,3.546358
2569,2569,s2570,tv show,el candidato,Sin dato,"james purefoy, erendira ibarra, josé maría de ...",mexico,Sin dato,2020,tv-ma,1 season,"action, drama","in ""el candidato,"" rookie cia field operative ...",as2570,1,season,amazon,3.568898
3741,3741,s3742,movie,the girl king,mika kaurismäki,"malin buska, sarah gadon, michael nyqvist",Sin dato,Sin dato,2015,18+,106 min,"drama, lgbtq, romance","""the girl king"" paints a portrait of the brill...",as3742,106,min,amazon,3.562992
3440,3440,s3441,movie,a 30-minute journey around the world,mark knight,Sin dato,Sin dato,Sin dato,2012,all,30 min,"documentary, special interest",a soothing video postcard with no narration or...,as3441,30,min,amazon,3.544148
4180,4180,s4181,movie,13th locker,adam montierth,"ricky schroder, rick hoffman, jon gries, jason...",Sin dato,Sin dato,2020,13+,103 min,"drama, suspense",13th locker is a thriller anthology film simil...,as4181,103,min,amazon,3.445860
5666,5666,s5667,movie,beach house,jason saltiel,"willa fitzgerald, murray bartlett, orlagh cassidy",Sin dato,Sin dato,2019,g,87 min,"drama, suspense",emma's beach retreat takes an unsettling turn ...,as5667,87,min,amazon,3.528889

In [47]:
#convierto el df final a un csv para poder trabajarlo mas adelante
df = pd.DataFrame(df)
df.to_csv("df.csv")

In [46]:
df.dtypes

show_id           object
type              object
title             object
director          object
cast              object
country           object
date_added        object
release_year       int64
rating            object
duration          object
listed_in         object
description       object
id                object
duration_int       int32
duration_type     object
platform          object
scored           float64
dtype: object